.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #191919;
  width: 100%;
  height: 60px;
}

.header .logo {
  margin: 0 15px;
}

.header .search {
  position: relative;
}
.header .search input {
  width: 500px;
  height: 30px;
  padding: 0 10px;
  border-radius: 20px;
  border: none;
}

.header .search button {
  position: absolute;
  width: 50px;
  height: 80%;
  top: 2.5px;
  right: 7px;
  border-radius: 12px;
  border: none;
  background: #000;
  color: aliceblue;
  cursor: pointer;
}
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
.header .icons {
  display: flex;
  color: white;
}

.header .icons .user,
.header .icons .fav,
.header .icons .cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .icons .user > div,
.header .icons .fav > div,
.header .icons .cart > div {
  line-height: 12px;
  margin: 0 5px;
}

.header .icons .user i,
.header .icons .fav i,
.header .icons .cart i {
  font-size: 20px;
}

.header .icons .user .name {
  font-size: 10px;
  color: #a0a0a0;
}

.header .icons .user .account {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
.header .icons .user .account .text {
}

.header .icons .user .account .angle {
  transform: rotate(146deg);
  width: 10px;
  margin-left: 5px;
}
/* ---------------------------------------- */

.header .icons .fav,
.header .icons .cart {
  margin: 0 15px;
}
.header .icons .fav > div .counter,
.header .icons .cart > div .counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  color: #000;
  font-weight: 500;
  font-size: 12px;
  width: 20px;
  height: 12px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.header .icons .fav > div .text,
.header .icons .cart > div .text {
  font-size: 12px;
  cursor: pointer;
}

/* ---------------------------------------- */
/* -------------Header Bottom-------------- */
/* ---------------------------------------- */

.Header_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90px;
  border-bottom: #a0a0a048 solid 1px;
}

.Header_bottom .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  background: #ffecd3;
  font-size: 14px;
  font-weight: 500;
}

.Header_bottom .button_container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.Header_bottom .button_container .category_button {
  display: flex;
  align-items: center;
  border: #00000065 solid 1px;
  border-radius: 30px;
  padding: 10px;
  margin: 5px;

}

.Header_bottom .button_container .category_button .category_name {
  font-size: 12px;
  margin-left: 10px;
  min-width: 150px;
}

.Header_bottom .button_container .category_button .category_image {
  min-width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}

.Header_bottom .button_container .category_button .category_image img {
  width: 100%;
  height: 100%;
}
